<div class="cg-asia-bg cg-container">
  <div class="container cg-asia-margin">
    <div class="row cg-asia-item">
      <div class="col-lg-4 cg-asia-title">
        <div><%= t 'cg_asia.a_title' %> CG-ASIA</div>
        <div class="cg-asia-spacer"></div>
      </div>

      <div class="col-lg-7 cg-asia-text">
        <%= t 'cg_asia.a_text' %>
      </div>
    </div>

    <div class="row cg-asia-item cg-asia-item-bottom">
      <div class="col-lg-4 cg-asia-title">
        <div>
          <%= raw t 'cg_asia.b_title' %>
        </div>
      </div>


      <div class="col-lg-4 cg-asia-text">
        <%= t 'cg_asia.b_text_1' %> <br>
        <%= t 'cg_asia.b_text_2' %>
      </div>

      <div class="col-lg-4 cg-asia-text cg-asia-avatar-container">
        <%= image_tag 'cg-asia/avatar.png', class: 'cg-asia-avatar' %>
      </div>
    </div>
  </div>

</div>
