<% return if is_mobile? %>
<% return if @videos_arr.size < 5 %>

<div class="top-videos d-none">
  <% first_video = @videos_arr.to_a.shift %>
  <div class="first-video row">
    <div class="col-7">
      <%= video_tag(first_video.url, controls: true, preload: 'true', class: 'img-fluid') %>
    </div>
    <div class="col-5 video-body">
      <div class="video-duration"><%= first_video.duration %></div>
      <div class="video-title"><%= first_video.title %></div>
      <div class="video-intro"><%= first_video.intro %></div>
    </div>
  </div>

  <div class="row three-videos video-list">
    <% 3.times.each do %>
      <% video = @videos_arr.to_a.shift %>
      <div class="col-4">
        <div class="video-play" video_url="<%= video.url %>">
          <%= image_tag video.image_url, class: 'img-fluid' %>
          <%= image_tag 'video_play.png', height: 50, class: 'video-play-img' %>
        </div>
        <%#= image_tag video.image_url, class: 'img-fluid' %>
        <div class="video-attrs">
          <div class="video-duration"><%= video.duration %></div>
          <div class="video-title"><%= video.title %></div>
          <div class="video-intro"><%= video.intro %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>