<% @videos_arr.each do |video| %>
  <div class="row video-item">
    <div class="col-lg-4 video-play" video_url="<%= video.url %>">
      <%= image_tag video.image_url, class: 'img-fluid' %>
      <%= image_tag 'video_play.png', height: 50, class: 'video-play-img' %>
    </div>
    <div class="col-lg-8 video-attrs">
      <div class="video-duration"><%= video.duration %></div>
      <div class="video-title"><%= video.title %></div>
      <div class="video-intro"><%= video.intro %></div>
    </div>
  </div>
<% end %>