<%= render 'videos_bg' %>

<div class="videos-content">
  <div class="container">
    <div class="video-list">
      <%= render 'video_item' %>
    </div>
    <div class="d-none1 videos-pagination">
      <%= paginate @videos %>
    </div>
    <div class="videos-loading d-none">LOADING…</div>
  </div>

  <div class="videos-modal-over d-none"></div>
  <div class="video-modal d-none">
    <div class="video-close video-close-in-mobile d-lg-none">
      <%= image_tag 'close_icon.png', height: 30 %>
    </div>
    <div class="video-container">
      <div class="video-close video-close-in-pc d-none">
        <%= image_tag 'close_icon.png', height: 30 %>
      </div>
      <div class="video-player-container"></div>
    </div>
  </div>
</div>
