<% return if is_mobile? %>
<% return if @news_arr.size < 5 %>

<div class="top-news d-none">
  <% first_new = @news_arr.to_a.shift %>
  <a href="<%= news_path(first_new) %>">
    <div class="first-new row">
      <div class="col-7">
        <%= image_tag first_new.image_url, class: 'img-fluid' %>
      </div>
      <div class="col-5 new-body">
        <div class="new-date"><%= first_new.created_at.to_date.to_s(:db) %></div>
        <div class="new-title"><%= first_new.title %></div>
        <div class="new-intro"><%= first_new.intro %></div>
      </div>
    </div>
  </a>

  <div class="row three-news">
    <% 3.times.each do %>
      <% new = @news_arr.to_a.shift %>

      <div class="col-4">
        <a href="<%= news_path(first_new) %>">
          <%= image_tag new.image_url, class: 'img-fluid' %>
          <div class="new-attrs">
            <div class="new-date"><%= new.created_at.to_date.to_s(:db) %></div>
            <div class="new-title"><%= new.title %></div>
            <div class="new-intro"><%= new.intro %></div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>