<%= render 'news_bg' %>

<div class="news-content">
  <div class="container">
    <%= render 'index_web' %>

    <div class="more-news d-none"><%= t 'navbar.more_news' %></div>
    <div class="new-list">
      <%= render 'new-item' %>
    </div>
    <div class="d-none news-pagination">
      <%= paginate @news %>
    </div>
    <div class="cg-loading d-none">LOADING…</div>
  </div>
</div>
