= semantic_form_for [:admin, @main_event] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :title
    = f.input :location_name
    = f.input :prize_pool
    = f.input :begin_time
    = f.input :end_time
    = f.input :pdf_name
    = f.input :event_pdf
  = f.submit data: { disable_with: '请稍等...' }
