%div
  = semantic_form_for @main_event, method: :post,
   url: update_desc_admin_main_event_path(@main_event) do |f|
    = f.inputs do
      = f.input :title, input_html: { disabled: true }
      ~ f.input "#{@desc_type}_desc"
    = f.submit

:javascript

    $(function() {
        cgEditor.call($("form.main_event textarea"), $('form.main_event'));
    });