<nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-cg">
  <a class="navbar-brand navbar-brand-cg" style="padding: 0" href="/"></a>
  <button class="navbar-toggler navbar-toggler-cg" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    MENU
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav navbar-nav-cg ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME</a>
        <div class="<%= 'nav-link-active' if current_page?(root_path) %>"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cg_asia">CG ASIA</a>
        <div class="<%= 'nav-link-active' if current_page?('/cg_asia') %>"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tournament">TOURNAMENT</a>
        <div class="<%= 'nav-link-active' if current_page?('/tournament') %>"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">NEWS</a>
        <div class="<%= 'nav-link-active' if controller.controller_name == 'news' %>"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=/videos>VIDEOS</a>
        <div class="<%= 'nav-link-active' if current_page?('/videos') %>"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/online_pokers">ONLINE POKER</a>
        <div class="<%= 'nav-link-active' if current_page?('/online_pokers') %>"></div>
      </li>
      <li class="nav-item dropdown btn-language">
        <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= ENV['CURRENT_LOCALE'] == 'en' ? 'English' : '中文' %>
        </a>
        <div class="dropdown-menu cg-dropdown-menu" aria-labelledby="languageDropdown">
          <% if ENV['CURRENT_LOCALE'] == 'en' %>
            <a class="dropdown-item" href="#">中文</a>
          <% else %>
            <a class="dropdown-item" href="#">English</a>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>